<div class="corpo mx-auto mt-4">
    <h2>Lista De Locações Retornadas</h2>

    <div id="listaLocacoes" class="row row-cols-2 row-cols-lg-5 align-items-center" *ngIf="locacaoData.length > 0">
        <div class="card col mb-4 me-4 shadow bg-body-tertiary rounded" style="width: 18rem;cursor: pointer;"
            *ngFor="let locacao of locacaoData; index as i">
            <div class="card-body">

                <div class="d-flex justify-content-between">
                    <img src="{{locacao.item.titulo.imagem}}" class="img-thumbnail ">
                    <img src="{{locacao.cliente.imagem}}" class="img-thumbnail ">
                </div>
                <h2 class="card-title text-dark"><strong>Cliente:</strong> {{ locacao.cliente.nome }}</h2>
                <h3 class="card-title"><strong>Data da locação:</strong> {{ locacao.dtLocacao | date: 'dd/MM/yyyy' }}
                </h3>
                <h4 class="card-subtitle my-2 text-body-secondary"><strong>Data de devolução: </strong>{{
                    locacao.dtDevolucaoPrevista | date: 'dd/MM/yyyy' }}
                </h4>
                <p class="card-text">Filme: {{ locacao.item.titulo.nome}} </p>
                <p class="card-text">Valor: {{ locacao.valorCobrado }}</p>
                <p class="card-text" *ngIf="locacao.multaCobrada != null">Multas cobrada: {{ locacao.multaCobrada | currency:'BRL' }}</p>
                <p class="card-text" *ngIf="locacao.multaCobrada == null">Multas cobrada: {{ 0 | currency:'BRL' }}</p>
            </div>
        </div>
    </div>
</div>

<div class="alerta w-50 my-5 mx-auto">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage"
        [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error', 'alert-warning': alertType === 'warning'}"
        (closed)="close()">{{ alertMessage }}</ngb-alert>
</div>