<div class="corpo mx-auto mt-4">
    <h2>Locar Filme</h2>
    <form id="meuFormulario" class="row g-3 mx-auto mt-4" [formGroup]="locacaoform" (ngSubmit)="onSubmit()">

        <div class="col-md-8">
            <label for="inputDtLocacao" class="form-label">Date de Locação</label>
            <input type="date" class="form-control" formControlName="dtLocacao" id="inputDtLocacao" required>
        </div>

        <div class="col-md-8">
            <label for="inputDevolucaoPrevista" class="form-label">Date de Devolução Prevista</label>
            <input type="date" class="form-control" formControlName="dtDevolucaoPrevista" id="inputDtDevoluvaoPrevista"
                required>
        </div>

        <div class="col-md-8">
            <label class="form-label">Seleção de Filmes</label>
            <select id="selectFilme" class="form-select" aria-label="Seleção de Filme" (change)="pegarItem($event)">
                <option selected>Selecione um Filme...</option>
                <option *ngFor="let item of itemList" [value]="item.idItem">
                    {{item.titulo.nome}} - {{item.tipoItem}}
                </option>
            </select>
        </div>

        <div class="col-md-8">
            <label for="inputAno" class="form-label">Valor Cobrado</label>
            <input type="number" class="form-control" formControlName="valorCobrado" id="inputAno" required min=0>
        </div>

        <div class="d-flex flex-row mb-2">
            <div class="form-check me-4">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioRede"
                    (change)="onChange($event)" checked>
                <label class="form-check-label text-light" for="flexRadioRede">
                    Dependente
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioOrienta"
                    (change)="onChange($event)">
                <label class="form-check-label text-light" for="flexRadioOrienta">
                    Sócio
                </label>
            </div>
        </div>

        <div class="col-md-8" *ngIf="showForm">
            <label class="form-label">Seleção de Dependente</label>
            <select id="selectDependente" class="form-select" aria-label="Seleção de Dependente"
                (change)="pegarDependente($event)">
                <option selected>Selecione um Dependente...</option>
                <option *ngFor="let depende of dependenteList" [value]="depende.numInscricao">
                    {{depende.nome}}
                </option>
            </select>
        </div>

        <div class="col-md-8" *ngIf="!showForm">
            <label class="form-label">Seleção de Sócio</label>
            <select id="selectSocio" class="form-select" aria-label="Seleção de Sócio" (change)="pegarSocio($event)">
                <option selected>Selecione um Sócio...</option>
                <option *ngFor="let socio of socioList" [value]="socio.numInscricao">
                    {{socio.nome}}
                </option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-success me-4">Enviar</button>
            <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
        </div>
    </form>
</div>

<div class="alerta w-50 my-5 mx-auto">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage"
        [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}"
        (closed)="close()">{{ alertMessage }}</ngb-alert>
</div>