<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 90%;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/slider2.jpg" alt="Primeiro Slide">
        </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>



<div class=" mx-auto mt-4">
    <div>


        <h1 class="text-center">Bem Vindo ao ReelRover!!</h1>
        <p>
            Em um mundo cada vez mais digital, onde o entretenimento migra para plataformas
            online e streaming,
            as
            vídeo-locadoras continuam a desempenhar um papel significativo na vida de muitos
            amantes do cinema e
            da
            televisão.
        </p>

    </div>
    <div>
        <p>
            No entanto, para manter-se competitiva e eficiente, uma vídeo-locadora moderna requer uma gestão
            ágil e
            eficaz
            de seu acervo. É aqui que entra o Sistema de Controle de Acervo, uma solução tecnológica projetada
            para
            simplificar e otimizar todas as operações relacionadas à administração de títulos e itens em uma
            vídeo-locadora.
        </p>

    </div>
    <div>
        <p>
            Este sistema é a peça-chave para garantir que a vídeo-locadora permaneça relevante em um ambiente de
            mercado em
            constante evolução. Ele abrange uma ampla gama de funcionalidades essenciais para o sucesso do
            negócio,
            desde o
            acompanhamento preciso dos títulos disponíveis até o controle eficiente dos itens em estoque.
        </p>

    </div>
    <div>
        <p>
            Ao unir tecnologia e gerenciamento, o Sistema de Controle de Acervo oferece benefícios inestimáveis,
            tanto para
            os proprietários de vídeo-locadoras quanto para seus clientes, garantindo uma experiência de aluguel
            de
            filmes e
            séries mais conveniente, confiável e agradável.
            Neste contexto, exploraremos a fundo as funcionalidades e os benefícios desse sistema vital para a
            indústria de
            vídeo-locadoras.
        </p>

    </div>



    <!-- <div class="div_img my-3">
        <img src="assets/ReelRover.gif" alt="Logo do sistema" />
    </div> -->
</div>