.corpo {
    width: 80%;
    background-color: white;
    opacity: 0.5;
}

section {
    width: 80%;
    text-align: justify;

    .div_img {
        text-align: center;
    }

    .div_img img {
        width: 20rem;
        height: 15rem;
        object-fit: cover;
    }


}

div {
    margin: 20px;
    opacity: 1;
}

h1 {
    color: white;
}

p {

    color: white;
}