.corpo {
    width: 80%;
    background-color: white;
    opacity: 0.5;
}

section {
    width: 80%;
    text-align: justify;



}

.div_img {
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
}
.div_img img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    // border: 1px solid white;
}

div {
    margin: 20px;
    opacity: 1;
}

h1 {
    color: white;
}

p {

    color: white;
}