<div class="corpo mx-auto mt-4">
  <h2>Cadastrar Diretor</h2>
  <form id="meuFormulario" class="row g-3 mx-auto mt-4" [formGroup]="diretorform" (ngSubmit)="onSubmit()">
    <div class="col-md-8">
      <label for="inputNome" class="form-label">Nome do Diretor</label>
      <input type="text" class="form-control" formControlName="nome" id="inputNome" required>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success me-4">Enviar</button>
      <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
    </div>
  </form>
</div>

<div class="alerta w-50 my-5 mx-auto">
  <ngb-alert #selfClosingAlert *ngIf="alertMessage"
    [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" (closed)="close()">{{
    alertMessage }}</ngb-alert>
</div>