<h2>Cadastrar Diretor</h2>
<form id="meuFormulario" class="row g-3 needs-validation mx-auto mt-4" method="post" action="" novalidate>
    <div class="col-md-8">
        <label for="inputNome" class="form-label">Nome do Diretor</label>
        <input type="text" class="form-control" name="inputNome" id="inputNome" required>
        <div class="invalid-feedback">
        Informação inválida. Preencha o campo!
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success me-4">Enviar</button>
        <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
    </div>
</form>