<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      Reel Rover
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-atores">Ator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-classes">Classe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-diretores">Diretor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-titulos">Título</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-itens">Item</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controle de Acervo
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="api/ator-create">Cadastrar Ator</a></li>
            <li><a class="dropdown-item" routerLink="api/classe-create">Cadastrar Classe</a></li>
            <li><a class="dropdown-item" routerLink="api/diretor-create">Cadastrar Diretor</a></li>
            <li><a class="dropdown-item" routerLink="api/titulo-create">Cadastrar Título</a></li>
            <li><a class="dropdown-item" routerLink="api/item-create">Cadastrar Item</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controle de Cliente
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="cadastrar/cliente">Cadastrar Cliente</a></li>
            <li><a class="dropdown-item" routerLink="listar/cliente">Listar Clientes</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex ">
        <button class="btn btn-primary me-md-2" type="button">Nova Locação</button>
      </div>
    </div>
  </div>
</nav>