<div class="corpo mx-auto mt-4">
    <h2>Cadastrar Título</h2>
    <form id="meuFormulario" class="row g-3 mx-auto mt-4" [formGroup]="tituloform" (ngSubmit)="onSubmit()">
        <div class="col-md-8">
            <label for="inputNome" class="form-label">Nome do Título</label>
            <input type="text" class="form-control" formControlName="nome" id="inputNome" required>
        </div>

        <div class="col-md-8">
            <select class="form-select" aria-label="Seleção de Atores">
                <option selected>Selecione Atores..</option>
                <option *ngFor="let ator of atorList" onclick="pegarAtores($event)" value="{{ator.idAtor}}">
                    {{ator.nome}}</option>
            </select>
        </div>

        <div class="col-md-8">
            <select class="form-select" aria-label="Seleção de Diretor">
                <option selected>Selecione um Diretor..</option>
                <option *ngFor="let diretor of diretorList" value="{{diretor.idDiretor}}">
                    {{diretor.nome}} </option>
            </select>
        </div>

        <div class="col-md-8">
            <select class="form-select" aria-label="Seleção de Classe">
                <option selected>Selecione uma Classe..</option>
                <option *ngFor="let classe of classeList" value="{{classe.idClasse}}">
                    {{classe.nome}}</option>
            </select>
        </div>

        <div class="col-md-8">
            <label for="inputCategoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" formControlName="categoria" id="inputCategoria">
        </div>

        <div class="col-md-8">
            <label for="inputAno" class="form-label">Ano</label>
            <input type="number" class="form-control" formControlName="ano" id="inputAno" required min=0>
        </div>

        <div class="col-md-8">
            <label for="labelContextArea" class="form-label">Sinopse</label>
            <textarea class="form-control" formControlName="sinopse" id="labelContextArea" rows="5"></textarea>
        </div>



        <div class="col-12">
            <button type="submit" class="btn btn-success me-4">Enviar</button>
            <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
        </div>
    </form>
</div>

<div class="alerta w-50 my-5 mx-auto">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage"
        [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}"
        (closed)="close()">{{ alertMessage }}</ngb-alert>
</div>