<div class="corpo mx-auto mt-4">
    <h2>Cadastrar Título</h2>
    <form id="meuFormulario" class="row g-3 mx-auto mt-4" [formGroup]="tituloform" (ngSubmit)="onSubmit()">
        <div class="col-md-8">
            <label for="inputNome" class="form-label">Nome do Título</label>
            <input type="text" class="form-control" formControlName="nome" id="inputNome" required>
        </div>


        <div class="col-md-8">
            <button class="btn btn-success col-12 dropdown-toggle" type="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selecione Atores..
            </button>

            <div class="dropdown-menu col-md-4" aria-labelledby="dropdownMenuLink">
                <div *ngFor="let ator of atorList; index as i">
                    <input class="form-check-input mx-2" type="checkbox" id="flexCheck{{i}}" (change)="pegarAtores($event,ator,i)">
                    <label class="form-check-label me-3" for="flexCheck{{i}}">
                        {{ator.nome}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <label class="form-label">Seleção de Diretor(a)</label>
            <select id="selectDiretor" class="form-select" aria-label="Seleção de Diretor" (change)="pegarDiretor($event)">
                <option selected>Selecione um(a) Diretor(a)..</option>
                <option *ngFor="let diretor of diretorList" [value]="diretor.idDiretor">
                    {{diretor.nome}}
                </option>
            </select>
        </div>

        <div class="col-md-8">
            <label class="form-label">Seleção de Classe</label>
            <select id="selectClasse" class="form-select" aria-label="Seleção de Classe" (change)="pegarClasse($event)">
                <option selected>Selecione uma Classe..</option>
                <option *ngFor="let classe of classeList" [value]="classe.idClasse">
                    {{classe.nome}}
                </option>
            </select>
        </div>

        <div class="col-md-8">
            <label for="inputCategoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" formControlName="categoria" id="inputCategoria">
        </div>

        <div class="col-md-8">
            <label for="inputAno" class="form-label">Ano</label>
            <input type="number" class="form-control" formControlName="ano" id="inputAno" required min=0>
        </div>

        <div class="col-md-8">
            <label for="labelContextArea" class="form-label">Sinopse</label>
            <textarea class="form-control" formControlName="sinopse" id="labelContextArea" rows="5"
                maxlength="5000"></textarea>
        </div>

        <div class="col-md-8">
            <img src="{{imgURL}}" class="img-thumbnail">
            <input class="form-control" accept="image/*" #file (change)="preview(file.files)" type="file" id="formFile">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-success me-4">Enviar</button>
            <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
        </div>
    </form>
</div>

<div class="alerta w-50 my-5 mx-auto">
    <ngb-alert #selfClosingAlert *ngIf="alertMessage"
        [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}"
        (closed)="close()">{{ alertMessage }}</ngb-alert>
</div>