<<<<<<< HEAD
.corpo{
    width: 80%;
    h2{color: white;}
    #meuFormulario {
        width: 70%;
        color: #517B2A;
    }
=======
.corpo {
    width: 80%;

    #meuFormulario {
        width: 70%;
        color: #517B2A;

        .form-label {
            font-weight: 600;
        }

        input {
            box-shadow: .125rem .15rem rgba(0, 0, 0, 0.2);
        }
    }
}

h2 {
    color: white
>>>>>>> 971499b0c2e78c064b99d9262d77a3db516af0a7
}